/**
 * @name Ai Hoshino
 * @author Cookeix0000 from Solta
 * @version 1.0.1
 * @description Ai Hoshino from "Oshi no Ko"
 * @source https://github.com/So1ta/USP-ThemeDiscord
*/
/* 
 Изображение переведено в 4К формат 
 Чтобы редактировать тему, раскомментируйте код ниже 
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
@import url("https://discordstyles.github.io/SoftX/VerticalUserArea.css"); 
@import url("https://discordstyles.github.io/Addons/windows-titlebar.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.theme.css");

:root {
  --background: url("https://s.iimg.su/s/25/xpxdEzTPpvRs8KB8SlBgOYKnmd6cD0PdaERctQUg.jpg");
  --font:                       "Inter";
  --transparencyalpha:          0.7;
  --transparencycolor:			    0,0,0;
	--messagetransparency:			  0;
	--guildchanneltransparency:		0;
	--chatinputtransparency:		  0;
	--memberlisttransparency:		  0.3;
	--accentcolor:					      144,0,32,0.6;
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ff4fdf;
  --channels-default:           #fd90ff;
  --header-secondary:           #f490ff;
  --interactive-normal:         #ff90f4;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #fff2;
}

:root {
  --background: url("https://s.iimg.su/s/25/xpxdEzTPpvRs8KB8SlBgOYKnmd6cD0PdaERctQUg.jpg");
  --font:                       "Inter";
  --transparencyalpha:          0.5;
  --transparencycolor:          0,0,0;
  --messagetransparency:        0;
  --guildchanneltransparency:   0;
  --chatinputtransparency:      0;
  --memberlisttransparency:     0;
  --accentcolor:                144,0,32,0.6;
}

.theme-dark {
  --text-normal:                #ffffff;
  --text-muted:                 #ffffff;
  --header-primary:             #ff4fe8;
  --channels-default:           #f890ff;
  --header-secondary:           #ff90f8;
  --interactive-normal:         #f990ff;
  --interactive-hover:          #ffffff;
  --interactive-active:         #ffffff;
  --background-modifier-accent: #fff2;
}
